body{
margin: 0;
padding: 0;
background-color: rgb(244, 241, 245);
}
h1{
    text-align: center ;
}
h2{
    text-align: center;
    color: #523B5E;
}

p{
color: black;

   text-align:  right; 
}
b{
    color: black;
    text-align: center; 
}

div.bg1 {
    background-color: #F0490F;
    height: 50px;
    border:1px solid#ffff;

}
div.bg2 {
    background-color: #1e491a;
    height: 50px;
    border:1px solid#ffff;

}
div.bg3 {
    background-color: #721515;
    height: 50px;
    border:1px solid#ffff;

}



