/*Configuração do topo*/

div.bg1{
	background-color: #563d7c;
	height: 50px;
	border:1px solid #ffff;
}

div.bg2{
	background-color:#563d7c;
    ;
	height: 50px;
	border:1px solid #ffff;
}
div.bg3{
	background-color: #563d7c;
    ;
	height: 50px;
	border:1px solid #ffff;
}
h1{
	height: 50px;
}
