h1{
    height: 50px;
    text-align: center;
}
h2{
    font-style: italic;
}
h5{
    color: white;
}
h6{
    color: white;
}
header{
    background-color:   #DEBBD6;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0px;
}
div.bg1 {
    background-color: #B0E0E6;
}
div.bg2 {
    background-color: #B0E0E6;
}
p.bg3 {
    color: white;
}
button.bg{
    background-color: #8B008B;
}
footer{
    background-color:   #191970;
    margin: auto;
    width: 100%;
    top: 0px;
}
iframe{
    background-color:   #000080;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0px;
}